<% include partials/header %>

<h1>IMBD MOVIES</h1>

<div class="container">
<form action="/results" method="GET">
    <input type="text" name="search" placeholder="Search Title..." required>
    <div><button>Search</button></div>
    
</form>
</div>

